<div class="view_container">
	<div ng-hide="env.playing" class="control_button playback_arrow_container gradient1" style="width:70px" ng-click="frameService.playback(env,player,players)">
		<div class="playback_arrow">
		</div>
	</div>
	<div ng-show="env.playing" class="control_button stop_square_container gradient1" style="width:70px" ng-click="frameService.stopPlayback(env)">
		<div class="stop_square">
		</div>
	</div>
	<div class="control_button gradient1 limePointerHover" style="width:100px" ng-click="env.save(player,players)">
		Save to URL
	</div>
	<div ng-hide="env.playing" style="width:80px" class="control_button gradient1 limePointerHover" ng-click="env.modal_visible=true;env.updatePreviewTeams()">
		New 	
	</div>
	<div style="width:80px" class="control_button gradient1" ng-show="env.playing">
		New 	
		<div class="overlay controls_overlay" ng-show="env.playing">
		</div>
	</div>
	<div style="width:80px" class="control_button gradient1 limePointerHover" ng-click="env.toggleMode()">
			{{ env.mode }} 
	</div>
	<div style="margin-left:5px;width:45px;border-radius:15px 0 0 15px !important" class="control_button gradient1 down_arrow_container" ng-click="player.changeSpeed(players,env,'down')">
		<div class="up_arrow" style="border-width:12px 6px 0 6px"></div>
	</div>
	<div style="width:60px;border-radius:0;margin:0" class="control_button gradient1">
		speed: <b>{{ player.speeds_index }}</b>
	</div>
	<div class="control_button gradient1 up_arrow_container" ng-click="player.changeSpeed(players,env,'up')">
		<div class="up_arrow"></div>
	</div>
	<div class="control_button gradient1 limePointerHover" style="width:100px" ng-click="player.toggleTransitionType(players,env)">
		{{ player.transition_type }}
	</div>
	<div ng-show="env.selected_player!=null" style="width:170px" class="control_button gradient1 limePointerHover" ng-click="env.toggleHighlighted(player)">
		 {{ env.selected_player.jersey_number }} // 
			{{ env.selected_player.frames[env.current_frame_index].highlighted ? "highlighted" : "not highlighted" }}
	</div>
	<div class="field" ng-style="env.field_style">
		<div ng-show="env.current_sport=='arenasoccer'">
		    <div class="center_circle">
		    </div>
			<div class="halfway_line">
			</div>
			 <div class="left_box">
			</div>
			 <div class="right_box">
			</div>
			 <div class="yellow_line_left">
			</div>
			 <div class="yellow_line_right">
			</div>
			<div class="grid_square" ng-repeat="i in env.grid_size" ng-click="env.moveSelectedPlayer(i,player)">
			</div>	
		</div>
		<div ng-show="env.current_sport=='basketball'">
			<div class="halfway_line">
			</div>
		    <div class="bb_center_circle">
		    </div>
			<div class="bb_3point_left_arc">
			</div>
			<div class="bb_key1_left">
			</div>
			<div class="bb_key2_left">
			</div>
			<div class="grid_square" ng-repeat="i in env.grid_size" ng-click="env.moveSelectedPlayer(i,player)">
			</div>	
		</div>
		<div 
		<div ng-click="env.toggleSelected(i)" ng-class="{player: true, selected: env.selected_player ==players[$index]}" ng-style="i.current_style" ng-repeat="i in players track by $index">
			{{ i.jersey_number }}
		<!--div class="player" ng-repeat="i in players" ng-class="player1.position"-->
		</div>
	</div>
	<div class="frame_selector_area">
		<div ng-style="env.frame_styles[$index]" ng-class="{frame_selector_button: true,frame_selected: env.current_frame_index == $index }" ng-click="frameService.goToFrame(i,player,players,env)" ng-repeat="i in env.frames track by $index">
			{{ i+1 }}		
		</div>
		<div class="frame_selector_button" ng-click="frameService.addFrame(env,players)">
			+
		</div>
		<div class="frame_selector_button" ng-click="frameService.removeFrame(env,players,player)">
			-	
		</div>
		<div class="overlay controls_overlay" ng-show="env.playing">
		</div>
	</div>
	<div class="debug">
		SPORT CONTROLS:
		<div ng-click="env.changeSport('arenasoccer')" class="cursor_pointer">
			SOCCER
		</div>
		<div ng-click="env.changeSport('basketball')" class="cursor_pointer">
			BASKETBALL
		</div>
	</div>
	<div class="debug">
		<textarea class="play_input" ng-model="env.input_play"></textarea>
		</hr>
		<div ng-click="players=[];player.decompressPlay(env,css_colors,players,frameService)">
			DECOMPRESS	
		</div>
		</hr>
		{{ env.play_data_model }}	
	</div>
	
	
	<div class="new_play_container" ng-show="env.modal_visible">
		<div class="input_label">
			Team 1 players: (1-7)
		</div>
		<input type="number" ng-change="env.updatePreviewTeams()" class="new_play_input" ng-model="env.team1_input"> </input>
		<div class="input_label">
			Team 2 players: (1-7)
		</div>
	
		 <input type="number" ng-change="env.updatePreviewTeams()" ng-model="env.team2_input" class="new_play_input"></input>
		<div class="input_label">
			Frames(1-10): 
		</div>
		 <input type="number" class="new_play_input" ng-change="env.updatePreviewTeams()" ng-model="env.frames_input" ></input>
		<div class="input_label">
			Team 1 color: (<span class="cursor_pointer" ng-click="env.randomize(1,css_colors);env.updatePreviewTeams()"> <u>randomize</u> </span>)
		</div>
		<input type="textbox" class="new_play_input" ng-model="env.team1_temp_color" ng-change="env.updatePreviewTeams()"> </input>
		<div class="input_label">
			Team 2 color: (<span class="cursor_pointer" ng-click="env.randomize(2,css_colors);env.updatePreviewTeams()"> <u>randomize</u> </span>)
		</div>
		<input type="textbox" class="new_play_input" ng-model="env.team2_temp_color" ng-change="env.updatePreviewTeams()"> </input>
		<div class="team_preview">
			<div class="preview_player" ng-repeat="a in env.team1_preview track by $index" ng-style="env.team1_temp_style">
			</div>
		</div>
		<div class="team_preview">
			<div class="preview_player" ng-repeat="a in env.team2_preview track by $index" ng-style="env.team2_temp_style">
			</div>
		</div>
<!--			<div class="new_play_submit" ng-click="newPlay()">	-->
		<div class="new_play_submit" ng-click="player.newPlay(env,css_colors,players)">
			GENERATE NEW PLAY
		</div>
	</div>
	<div ng-show="env.modal_visible" ng-click="env.modal_visible=false" class="overlay">
	</div>



<!-- view end -->
</div>
